/* APPLICATION SECTION */
.application {
  background-image: url("../images/hero_main.png");
  background-size: cover;
}

.background {
  background-color: var(--background-opacity);
}

.image-container {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 707px;
}

.image-container__items {
  padding: 194px 630px 208px 134px;
  width: 676px;
  height: 35px;
}

.image-container__title {
  width: 630px;
  height: 105px;
  margin: 0;
  color: var(--text-color-white);
  font-size: 40px;
}

.image-container__title::after {
  content: " ROSTOV-ON-DON";
  color: var(--primary-color);
}

.image-container__text {
  width: 504px;
  height: 89px;
  color: var(--text-color-white);
  font-size: 22px;
  line-height: 163%;
  text-align: left;
  margin: 19px 0 41px 0;
}

.button__transparent {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-color: var(--text-color-white);
  border-width: 1px;
  font-style: italic;
  stroke: var(--text-color-white);
  stroke-width: 2px;
}

.button__transparent:active {
  border-style: outset;
}

.button__shadow {
  filter: drop-shadow(0 5px 15px rgba(227, 184, 115, 0.3));
}

/* COMPLETED SECTION */
.completed {
  background-color: var(--background-color-dark);
}

.completed-container {
  width: 1440px;
  height: 1074px;
}

.completed-container__item {
  display: flex;
  flex-flow: row;
  width: 1171px;
  height: 553px;
  padding: 80px 134px 0 134px;
}

.completed-container__item_text {
  width: 442px;
  height: 390px;
  margin: 55px 50px 0 0;
}

.completed-container__item_text_title {
  width: 253px;
  height: 66px;
  margin: 0;
  line-height: 138%;
  color: var(--primary-color);
  font-size: 27px;
}

.completed-container__item_text_value {
  color: var(--text-color-white);
  font-size: 14px;
  line-height: 191%;
  margin: 34px 0 42px 0;
  text-align: left;
}

.completed-container__chars-container {
  width: 442px;
  height: 165px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.completed-container__chars-container_item {
  width: 180px;
  height: 73px;
  margin: 0 29px 34px 0;
  padding: 0;
}

.completed-container__chars-container_item:nth-child(2) {
  height: 60px;
}

.completed-container__chars-container_item:nth-child(3) {
  height: 60px;
}

.completed-container__chars-container_item:nth-child(4) {
  height: 60px;
}

.completed-container__chars-container_item_title {
  font-size: 18px;
  color: var(--primary-color);
  margin: 0 0 9px 0;
}

.completed-container__chars-container_item_text {
  color: var(--text-color-white);
  font-size: 13px;
  line-height: 163%;
  width: 161px;
}

.completed-container__switcher {
  width: 213px;
  height: 14px;
  margin: 97px 228px 0 1px;
}

.completed-container__switcher {
  display: flex;
  flex-flow: row;
  gap: 30px;
}

.completed-container__switcher-arrow {
  cursor: pointer;
  width: 42px;
  height: 13px;
}

.completed-container__switcher-dots {
  cursor: pointer;
  width: 64px;
  height: 14px;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 18px;
}

.completed-container__image {
  width: 679px;
  height: 551px;
}

.completed-container__image-cities {
  width: 645px;
  height: 24px;
  display: flex;
  flex-flow: row;
  gap: 61px;
  font-size: 14px;
  font-weight: bold;
}

.completed-container__image-cities a:nth-child(1) {
  width: 290px;
  color: var(--primary-color);
  text-decoration: none;
}

.completed-container__image-cities a:nth-child(2) {
  width: 160px;
  text-decoration: none;
  color: var(--text-color-white);
  opacity: 30%;
}

.completed-container__image-cities a:nth-child(3) {
  width: 300px;
  text-decoration: none;
  color: var(--text-color-white);
  opacity: 30%;
}

.completed-container__image-underline {
  width: 194px;
  max-height: 1px;
  height: 100%;
  background-color: var(--primary-color);
  margin: 0 0 45px 0;
}

.completed-container__image-item {
  margin: 0;
  padding: 0;
  width: 679px;
  height: 483px;
}

.online-container {
  width: 196px;
  height: 67px;
  margin: 91px 621px 72px 624px;
}

.online-container__title {
  margin: 0 0 13px 0;
  text-align: center;
  font-size: 20px;
}

.online-container__images {
  display: flex;
  flex-flow: row;
  gap: 10px;
  height: 28px;
  width: 196px;
  align-items: center;
  justify-content: center;
}

/* REPAIR TYPES SECTION */
.repair-types {
  background-color: lightblue;
}

.repair-types__items {
  width: 1440px;
  height: 2464px;
}

.repair-types__items_video-container {
  width: 1440px;
  height: 224px;
}

.repair-types__items_video-container_video {
  display: block;
  position: relative;
  width: 817px;
  height: 434px;
  top: -210px;
  left: 312px;
  background-image: url("../images/hero_video.png");
  filter: drop-shadow(0 20px 50px rgba(0, 0, 0, 0.15));
}

.repair-types__items_video-container_background {
  width: 817px;
  height: 434px;
}

.repair-types__items_video-container_play {
  cursor: pointer;
  padding: 145px 336px 145px 336px;
}

.repair-types__articles-container {
  background-color: lightgray;
  width: 1236px;
  height: 2000px;
  margin: 0 101px 0 103px;
}

.repair-types__items_line {
  margin: 62.5px 591px 35px 590px;
  background-color: #e3b873;
  width: 55px;
  max-height: 1.55px;
  height: 100%;
}

.repair-types__items_text {
  width: 681px;
  height: 131px;
  margin: 0 278px 91.5px 277px;
  font-size: 18px;
  line-height: 205%;
  text-align: center;
}

.repair-types__items_input {
  margin: 0 234px 33px 233px;
  display: flex;
  flex-flow: row;
  gap: 50px;
  width: 769px;
  height: 51px;
}

.repair-types__items_checkbox-container {
  width: 315px;
  height: 18px;
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 14px;
  margin: 0 478px 148px 472px;
}

.repair-types__items_type {
  width: 196px;
  height: 67px;
  margin: 0 492px 31px 487px;
}

.repair-types__title {
  font-size: 20px;
  color: #181818;
  text-align: center;
}

.repair-types__images-container {
  background-color: cyan;
  width: 1236px;
  height: 608px;
  display: flex;
  flex-flow: row;
  gap: 30px;
}

.repair-types__images-container_image {
  background-color: yellow;
  width: 392px;
  height: 608px;
}

.repair-types__images-container_image:nth-child(1) {
  background-image: url("../images/hero_repair_type1.png");
  background-repeat: no-repeat;
}

.repair-types__images-container_image:nth-child(2) {
  background-image: url("../images/hero_repair_type2.png");
  background-repeat: no-repeat;
}

.repair-types__images-container_image_items {
  background-color: var(--text-color-white);
  width: 330px;
  height: 286px;
  margin: 294px 31px 0 31px;
}

.repair-types__images-container_image_title {
  padding: 25px 68px 13px 34px;
  margin: 0;
  font-size: 18px;
  color: #363636;
}

.repair-types__images-container_image_list {
  width: 267px;
  height: 178px;
  color: #959595;
  font-size: 13px;
  line-height: 204%;
  margin: 0 0 24px -10px;
  padding: 0 0 0 51px;
}

.repair-types__images-container_image_btn {
  font-family: var(--font-family-yeseva);
  font-size: 18px;
  line-height: 138%;
  font-weight: bold;
}
